################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Syntic/Syntic.VC.VC.opendb
/Syntic/Syntic.VC.db
/Syntic/ipch
/Syntic/Syntic/Debug
/Syntic/packages
/Syntic/linker/Debug
/Syntic/Debug
